:root {
	--white: #ffffff;
  --background: #060533;
  --green: #00ff22;
	--light: #eeeeee;
	--medium: #9b9b9b;
	--dark: #323232;
}

$notebook: "only screen and (max-width : 960px)";
$mobile: "only screen and (max-width : 640px)";