header {
  width: 100vw;
  height: 50px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: solid 1px var(--white);

  nav.navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation--side {
      display: flex;

      &.left li {
        margin-right: 30px;
      }

      &.right li {
        margin-left: 30px;
      }
    }

    li, li button {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form.connection-form {
    width: 500px;
    padding: 50px;
    position: absolute;;
    top: 150px;
    left: calc(50% - 250px);
    background: var(--background);
    border: solid 1px var(--white);
    display: none;

    &.active {
      display: block;
    }

    .connection-form--title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .connection-form--item {
      margin-top: 20px;
      display: flex;
      
      label {
        width: 150px;
        display: block;
      }

      input[type=text], input[type=password] {
        border-bottom: solid 1px var(--white);
      }

      input[type=checkbox] {
        margin-left: 20px;
      }

      button {
        height: 50px;
        margin-top: 30px;
        padding: 0 20px;
        border: solid 1px var(--white);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .connection-form--separator {
      height: 20px;
    }

    .connection-form--quit {
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 24px;
      color: var(--red);
      cursor: pointer;
    }
  }
}