body {
  background: var(--background);
  font-family: 'Menlo', monospace;
  color: var(--white);
}

.auto-90 {
  width: 90vw;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}