body {
  background: var(--background);
  font-family: 'Menlo';
  color: var(--white);
}

.auto-90 {
  width: 90vw;
  margin: auto;
}

h1.wall--title {
  padding: 20px 0;
  font-size: 24px;
}

h2.list--title {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: solid 1px var(--white);

  &.add {
    color: var(--blue);
    cursor: pointer;
  }
}

.wall {
  margin-top: 100px;
}

.lists {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
}

.task {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16.8px;

  .task--checkbox { cursor: pointer; }
  .task--name { cursor: pointer; }

  .task--status-todo { display: inline }
  .task--status-done { display: none }


  &.checked {

    .task--checkbox {
      color: var(--green);
    }
    
    .task--name {
      color: var(--green);
      text-decoration: line-through;
    }

    .task--status-todo { display: none }
    .task--status-done { display: inline }
  }
}

.task-add {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--blue);
  cursor: pointer;

  .task-add--plus {
    cursor: pointer;
  }

  .task-add--name {
    width: 80%;
  }
}

.save-button {
  height: 50px;
  padding: 0 20px;
  position: fixed;
  bottom: 30px;
  left: 5vw;
  font-family: inherit;
  font-size: 16px;
  color: var(--white);
  border: solid 1px var(--white);
  background: var(--background);
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}