body {
  background: var(--background);
  font-family: 'Menlo';
  color: var(--white);
}

.auto-90 {
  width: 90vw;
  margin: auto;
}

h1 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: solid 2px var(--white);
}

h2 {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: solid 1px var(--white);
}

.wall {
  margin: 30px;
}

.lists {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(20vw, auto);
}

.task {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16.8px;

  .task--checkbox { cursor: pointer; }
  .task--name { cursor: pointer; }

  .task--status-todo { display: inline }
  .task--status-done { display: none }


  &.checked {

    .task--checkbox {
      color: var(--green);
    }
    
    .task--name {
      color: var(--green);
      text-decoration: line-through;
    }

    .task--status-todo { display: none }
    .task--status-done { display: inline }
  }
}