h1.wall--title {
  padding: 20px 0;
  font-size: 24px;
}

h2.list--title {
  position: relative;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: solid 1px var(--white);

  &.add {
    color: var(--blue);
    cursor: pointer;
  }

  .wall-add {
    display: inline;

    .wall-add--plus {
      position: absolute;
      top: 10px;
      right: 0;
      cursor: pointer;
    }

    input {
      width: 85%;
      display: inline;
    }
  }

  .wall-delete {
    float: right;
    color: var(--red);
    visibility: hidden;
  
    button {
      cursor: pointer;
    }
  }
}

h2.list--title:hover .wall-delete {
  visibility: visible;
}

.wall {
  margin-top: 100px;
}

.lists {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
}

.task {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16.8px;

  .task-check {
    display: inline;
  }

  .task--checkbox { cursor: pointer; }

  .task--name {
    width: 70%;
    overflow: hidden;
    cursor: pointer;

    &.dead {
      color: var(--red);
    }

    .task--priority {
      color: var(--red);
    }
  }

  .task--status-todo { display: inline }
  .task--status-done { display: none }


  &.checked {

    .task--checkbox {
      color: var(--green);
    }
    
    .task--name {
      color: var(--green);
      text-decoration: line-through;
    }

    .task--status-todo { display: none }
    .task--status-done { display: inline }
  }

  &:hover .task-delete {
    visibility: visible;
  }
}

.task-add {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--blue);
  cursor: pointer;

  .task-add--plus {
    float: right;
    cursor: pointer;
  }

  .task-add--name {
    margin-left: 33px;
    width: 70%;
  }
}

.task-delete {
  float: right;
  color: var(--red);
  visibility: hidden;

  button {
    cursor: pointer;
  }
}

.task-infos {
  width: 500px;
  padding: 50px;
  position: fixed;
  z-index: 1000;
  top: 150px;
  left: calc(50% - 250px);
  background: var(--background);
  border: solid 1px white;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .task-infos--name {
    font-size: 18px;
  }

  .task-infos--deadline {
    margin-top: 30px;

    input {
      margin-top: 5px;
      display: block;
    }
  }

  .task-infos--priority {
    margin-top: 30px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: solid 1px white;
      cursor: pointer;

      &.active {
        background: white;
        color: var(--background)
      }
    }
  }

  .task-infos--save {
    height: 40px;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
    border: solid 1px white;
  }

  .task-infos--quit {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 24px;
    color: var(--red);
    cursor: pointer;
  }
}